.container{
    display: flex;
    overflow: hidden;
    position: relative;
    .moviePage{
        height: 100vh;
        overflow: auto;
        padding: 20px;
        width: 82% ;
        @media(max-width:1400px){
            width: 75%;
        }
        @media (max-width:1200px ){
            width: 100%;
        }
        .movies{
            .AllItem{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .item{
                    margin-bottom: 20px;
                    width: 19%;
                    border-radius: 10px;
                    position: relative;
                    transition: 0.3s ease;
                    overflow: hidden;
                    @media(max-width:1400px){
                        width: 23%;
                    }
                    @media(max-width:950px){
                        width: 31%;
                    }
                    @media(max-width:700px){
                        width:47%;
                    }
                    @media(max-width:480px){
                        width: 100%;
                    }
                        img{
                            width: 100%;
                            height: auto;
                            border-radius: 10px;
                            filter: brightness(0.8);
                        }
                        .info{
                            position: absolute;
                            transition: 0.3s ease;
                            padding: 10px;
                            border-radius: 10px;
                            left: 5%;
                            top: 3%;
                            height: 94%;
                            width: 90%;
                            .date{
                                position: absolute;
                                left: 0;
                                top: 0;
                                color:gold;
                            }
                            .rated{
                                position: absolute;
                                right: 0;
                                top: 0;
                                i{
                                    &:nth-of-type(1){
                                        color:gold;
                                    }
                                    font-size: 20px;
                                    color:white
                                }
                            }
                            .fav_data{
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                display: flex;
                                align-items: center;
                                .dataWatch{
                                    position: relative;
                                    color:white;
                                    font-size: 18px;
                                    margin-left: 10px;
                                    border-radius: 50%;
                                    background-color:rgba(255, 255, 255, 0.329);
                                    @media(max-width:1600px){
                                        font-size: 14px;
                                    }
                                    @media(max-width:1250px){
                                        margin-left: 7px;
                                        
                                    }
                                    @media(max-width:700px){
                                        margin-left: 10px;
                                        
                                    }
                                    .icon{
                                        i{
                                            display: block;
                                            padding: 10px ;
                                            @media(max-width:700px){
                                                font-size: 18px;
                                            }
                                        }
                                    }
                                    .menu{
                                        display: none;
                                        width: 200px;
                                        bottom: 130%;
                                        right: 0;
                                        border-radius: 5px;
                                        position: absolute;
                                        background-color:#0d0c0f;
                                        color:white;
                                        ul{
                                            li{
                                                border-bottom: 1px solid rgba(255, 255, 255, 0.158);
                                                &:last-child{
                                                    border:none;
                                                }
                                                label{
                                                    display: flex;
                                                    align-items: center;
                                                    padding: 10px 15px;
                                                    font-size: 18px;
                                                    @media(max-width:1500px){
                                                        font-size: 16px;
                                                        padding: 7px 10px;
                                                    }
                                                    @media(max-width:1250px){
                                                        font-size: 14px;
                                                        padding: 7px 10px;
                                                    }
                                                    @media(max-width:700px){
                                                        padding: 10px ;
                                                        font-size: 18px;
                                                    }
                                                    i{
                                                        color:rgb(14, 14, 73);
                                                        margin-right: 10px;
                                                        font-size: 25px;
                                                    }
                                                    &:hover{
                                                        background-color:#333;
                                                    }
                                                    
                                                }
                                                input[type="checkbox"]:checked ~ label{
                                                    background-color:#ea1c24;
                                                }
                                            }
                                        }
                                        @media(max-width:1700px){
                                            width: 160px;
                                            right: -5px;
                                        }
                                        @media(max-width:1250px){
                                            width: 150px;
                                        }
                                        @media(max-width:700px){
                                            width: 170px;
                                        }
                                        @media(max-width:450px){
                                            width: 180px;
                                        }
                                        &::before{
                                            content: "";
                                            position: absolute;
                                            top: 100%;
                                            right: 10px;
                                            border:10px solid ;
                                            border-color:#0d0c0f transparent transparent transparent;
                                        }
                                    }
                                    input[type="checkbox"]:checked ~ .menu{
                                        display: block;
                                    }
                                }
                                .favorite{
                                    font-size: 25px;
                                    color:rgba(255, 255, 255, 0.329);
                                    @media(max-width:1250px){
                                        font-size: 25px;
                                    }
                                    @media(max-width:700px){
                                        font-size: 30px;
                                    }
                                    input[type="checkbox"]:checked ~ label i{
                                        color:#ea1c24 ;
                                    }
                                }
                            }
                            .buttonVisitMovie{
                                position: absolute;
                                left: 0;
                                bottom:0;
                                border-radius: 5px;
                                background-color:#ea1c24;
                                @media(max-width:1600px){
                                    a{
                                        padding: 7px 15px;
                                        font-size: 14px;
                                    }
                                }
                                @media(max-width:950px){
                                   a{
                                    padding: 7px 10px;
                                   }
                                }
                                @media(max-width:700px){
                                    a{
                                        padding: 10px 15px;
                                    }
                                }
                                a{
                                    padding: 10px 20px ;
                                    display: block;
                                    color:white;
                                }
                            }
                        }
                }
            }
            
        }
        .other{
            text-align: center;
            padding: 100px 0;
           
        }
        .pages{
            .active{
                background-color: #ea1c24;
                a{
                    padding: 10px 30px !important;
                }
            }
            margin-top: 20px;
            text-align: center;
            ul{
                li{
                    display: inline-block;
                    transition: 0.3s ease;
                    padding: 10px 0;
                    a{
                        padding: 10px 15px;
                        border: 1px solid #333;
                        font-size: 18px;
                        transition: 0.3s ease;
                        &:hover{
                            color:#333;
                            background-color: gold;
                        }
                    }
                }
            }
        }
    }
    .menu_end{
        overflow-y:auto ;
        width:18%;
        height: 100vh;
        background-color: #1a161e;
        @media(max-width:1400px){
            width: 25%;
        }
        @media(max-width:1200px){
            position: absolute;
            right: 0;
            width: 300px;
            transform: translateX(100%);
            border-left: 15px solid #0d0c0f;
        }
        .units{
            padding: 20px ;
            @media(max-width:1700px){
                padding: 20px 10px;
            }
            .profile{
                margin-bottom: 10px;
                .view{
                    .dataProfile{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .data{
                            display: flex;
                            align-items: center;
                            img{
                                width: 60px;
                                height: 60px;
                                border-radius: 50%;
                                margin-right: 10px;
                                @media(max-width:1700px){
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                            .text{
                                h3{
                                    font-size: 18px;
                                    @media(max-width:1700px){
                                        font-size: 16px;
                                    }
                                    @media(max-width:1450px){
                                        font-size: 14px;
                                    }
                                }
                                p{
                                    font-size: 15px;
                                    color:#888;
                                    @media(max-width:1700px){
                                        font-size: 14px;
                                    }
                                    @media(max-width:1450px){
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
                .hide{
                    height: 0;
                    transition: 0.3s ease;
                    overflow: hidden;
                    margin-top: 20px;
                    border-radius: 10px;
                    background-color: #0d0c0f;
                    ul{
                        li{
                            border-bottom: 0.5px solid #3333338f;
                            &:last-child{
                                border: none;
                            }
                            a{
                                padding:9px 20px;
                                color:white;
                                display: block;
                                font-size: 20px;
                                transition: 0.3s ease;
                                &:hover{
                                    background-color: #1a161e;
                                    padding-left: 35px;
                                }
                                i{
                                    margin-right: 10px;
                                }
                                @media(max-width:1600px){
                                    font-size: 16px;
                                }
                                
                            }
                        }
                    }
                }
            }
            #myMenu:checked ~ .profile{
                .view {
                    .dataProfile{
                        .icon{
                            label{
                                i{
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                }
                .hide{
                    height: 180px;
                    @media(max-width:1600px){
                        height: 160px;
                    }
                }
            }
            .search{
                .cot{
                    padding: 5px 10px;
                    background-color: #0d0c0f;
                    border-radius: 30px;
                    @media(max-width:1450px){
                        padding: 0 10px;
                    }
                    button{
                        width: 15%;
                        border:none;
                        outline: none;
                        padding:10px;
                        background-color:transparent;
                        cursor: pointer;
                        @media(max-width:1700px){
                            padding: 0;
                        }
                        i{
                            color:white;
                            font-size: 20px;
                        }
                    }
                    input[type="text"]{
                        width: 85%;
                        border:none;
                        outline: none;
                        background-color: transparent;
                        font-size: 18px;
                        padding: 10px;
                        color:white;
                        @media(max-width:700px){
                            font-size: 15px;
                            padding: 0px 10px;
                        }
                    }
                }
            }
            .genres{
                margin-top: 20px;
                .items{
                    h3{
                        margin-bottom: 10px;
                        color:#333;
                        @media(max-width:1450px){
                            font-size: 15px;
                        }
                    }
                    ul{
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        li{
                            display: block;
                            width: 49%;
                            margin-bottom:10px;
                            @media (max-width:1500px){
                                width: 100%;
                            }
                            @media (max-width:1100px){
                                width:49%;
                            }
                            .item{
                                input[type="checkbox"]:checked ~ label{
                                    background-color:#ea1c24;
                                    .icon{
                                        i{
                                            &:nth-of-type(1){
                                                display: none;
                                            }
                                            &:nth-of-type(2){
                                                display: block;
                                            }
                                        }
                                    }
                                }
                                input[type="checkbox"]:not(:checked) ~ label{
                                    .icon{
                                        i{
                                            &:nth-of-type(1){
                                                display: block;
                                            }
                                            &:nth-of-type(2){
                                                display: none;
                                            }
                                        }
                                    }
                                }
                                label{
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    padding: 10px 15px;
                                    background-color: #0d0c0f;
                                    border-radius: 30px;
                                    p{
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .dataPerson{
                .watch{
                    margin-top: 20px;
                    .title{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        a{
                            color: #333;
                            font-size: 17px;
                            text-decoration: underline;
                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                    .content{
                        width: 100%;
                        height: 200px;
                        background-color:#0d0c0f;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}