<div class="container">
    <div class="item" *ngFor="let movie of Details">
        <div class="head" [ngStyle]="{'background-image':'url('+halfImg+movie.backdrop_path+')'}">
            
        </div>
        <div class="content">
            <div class="text">
                <div class="one">
                    <div class="img_rated">
                        <img [src]="halfImg+movie.poster_path" alt="">
                    </div>
                    <div class="info">
                        <h1>{{movie.name}}</h1>
                        <p>Original title : {{movie.original_name}}</p>
                        <div class="underTitle">
                            <div class="list_watch">
                                <button>Watch trailer <i class="fa-solid fa-play"></i></button>
                                <div class="fav_data">
                                    <div class="favorite">
                                        <input type="checkbox" class="fav{{movie.id}}" (click)="favoriteList(movie.id)" id="fav{{movie.id}}" style="display:none;">
                                        <label for="fav{{movie.id}}">
                                            <i class="fa-solid fa-heart"></i>
                                        </label>
                                    </div>
                                    <div class="dataWatch">
                                        <input type="checkbox" id="icon{{movie.id}}" style="display:none">
                                            <label class="icon" for="icon{{movie.id}}">
                                                <i class="fa-solid fa-plus"></i>
                                            </label>
                                        <div class="menu">
                                            <ul>
                                                <li>
                                                    <input type="checkbox" id="A{{movie.id}}" class="I{{movie.id}}"  (click)="funcList(movie.id , 'A')"  style="display:none">
                                                    <label for="A{{movie.id}}"><i class="fa-solid fa-play"></i> Want to watch it</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" id="B{{movie.id}}" class="I{{movie.id}}"  (click)="funcList(movie.id , 'B')" style="display:none">
                                                    <label for="B{{movie.id}}"><i class="fa-solid fa-stop"></i>Watched</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" id="C{{movie.id}}" class="I{{movie.id}}" (click)="funcList(movie.id , 'C')"   style="display:none">
                                                    <label for="C{{movie.id}}"><i class="fa-solid fa-pause" ></i>Watching now</label>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="rated">
                                <p><i class="fa-solid fa-star" style="color:gold"></i>{{movie.vote_average/2|number:'1.0-2'}}</p>
                            </div>
                        </div>
                        <p class="view">{{movie.overview}}</p>
                        <div class="details">
                            <h1>Details</h1>
                            <ul>
                                <li>
                                    <h3>Genres</h3>
                                    <div class="cont">
                                        <ul>
                                            <li *ngFor="let genre of movie.genres">{{genre.name}}</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <h3>language</h3>
                                    <div class="cont">
                                        {{movie.languages}}
                                    </div>
                                </li>
                                <li>
                                    <h3>episodes</h3>
                                    <div class="cont">
                                         {{movie.number_of_episodes}}
                                    </div>
                                </li>
                                <li>
                                    <h3>status</h3>
                                    <div class="cont">
                                        {{movie.status}}</div>
                                </li>
                                <li>
                                    <h3>first air date</h3>
                                    <div class="cont">
                                        {{movie.first_air_date}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cast">
                    <h1>Cast & Crew</h1>
                    <ul>
                        <li *ngFor="let art of casts">
                            <div class="art">
                                <img [src]="halfImg+art.profile_path" alt="">
                                <div class="name">
                                    <p>{{art.name}}</p>
                                    <p>{{art.character}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   
</div>